$button-color: #444444;
$button-border :#444444;
$button-background: #ffffff;

.button {
  margin: 0;
  padding: 15px;
  color: $button-color;
  font-size: 17px;
  font-weight: bold;
  line-height: 16px;
  border: 2px solid $button-border;
  background: $button-background;
  text-transform: uppercase;
  text-decoration: none;
}
