$button-color: #444444;
$button-color-hover: #ffffff;
$button-border :#444444;
$button-background: #ffffff;
$button-background-hover: linear-gradient(0deg, #444444, #444444);

.button {
  margin: 0;
  padding: 16px;
  color: $button-color;
  font-size: 17px;
  font-weight: bold;
  line-height: 16px;
  border: 2px solid $button-border;
  background: $button-background;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  cursor: pointer;

  &:hover {
    color: $button-color-hover;
    background: $button-background-hover;
  }

  &:active {
    opacity: 0.3;
  }
}
