$catalog-item-border-color: #ececec;
$catalog-item-title: #000000;
$catalog-item-description: #444444;
$catalog-item-price-border: #ececec;

.catalog {
  margin: 0 auto;
  padding: 0;

  @include for-size(tablet) {
    padding: 0 50px;
  }

  @include for-size(desktop) {
    margin: 0 auto;
    padding: 0;
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin: 0 0 30px 0;
    padding: 0;

    @include for-size(tablet) {
      margin-top: 46px;
    }

    @include for-size(desktop) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 111px;
      gap: 49px;
    }
  }

  &__item {
    margin: 30px 0 0;
    padding: 0;
    align-self: center;
    list-style-type: none;
    border: 1px solid $catalog-item-border-color;

    @include for-size(tablet) {
      display: grid;
      grid-template-columns: 335px 250px 70px;
      grid-template-rows: 60px 204px 70px;
      align-self: auto;
      margin: 27px 0;
    }

    @include for-size(desktop) {
      display: flex;
      flex-direction: column;
      position: relative;
      margin: 0;
      padding: 0;
    }


    &-preview {
      margin: 0;
      padding: 0;

      @include for-size(tablet) {
        grid-column: 1;
        grid-row: 1 / -1;
        height: 334px;
      }

      @include for-size(desktop) {
        height: 462px;
      }
    }

    &-title {
      margin: 28px 28px 7px 28px;
      padding: 0;
      color: $catalog-item-title;
      font-size: 17px;
      font-weight: bold;
      line-height: 24px;

      @include for-size(tablet) {
        grid-column: 2 / 4;
        grid-row: 1;
        margin: 26px 16px 0 32px;
        font-size: 20px;
        line-height: 24px;
      }
      @include for-size(desktop) {
        margin: 20px 28px 0 28px;
      }
    }

    &-description {
      margin: 0 28px;
      padding-top: 7px;
      padding-bottom: 16px;
      color: $catalog-item-description;
      font-size: 13px;
      font-weight: normal;
      line-height: 30px;

      @include for-size(tablet) {
        grid-column: 2 / 4;
        grid-row: 2;
        margin: 7px 32px;
        font-size: 15px;
      }

      @include for-size(desktop) {
        margin: 0 30px auto;
        padding-bottom: 10px;
      }
    }

    &-price {
      margin: 0 30px;
      padding: 23px 0 27px 0;
      font-size: 15px;
      font-weight: bold;
      line-height: 24px;
      border-top: 1px solid $catalog-item-price-border;

      @include for-size(tablet) {
        grid-column: 2 / 4;
        grid-row: 3;
        padding: 20px 0;
        font-size: 17px;
      }
      @include for-size(desktop) {
        padding: 25px 0;
      }
    }

    &-button {
      font-size: 0;
      border: none;
      padding: 22px;

      @include for-size(tablet) {
        grid-column: 3;
        grid-row: 3;
      }
      @include for-size(desktop) {
        position: absolute;
        right: 9px;
        bottom: 0;
      }
    }
  }
}
