$comment-title: #000000;
$comment-item-text: #444444;
$comment-item-name: #000000;
$comment-item-email: #444444;
$comment-item-button-border: #ececec;

.comment {
  display: flex;
  flex-direction: column;
  margin: 0 30px;

  @include for-size(tablet) {
    margin: 0 50px;
    position: relative;
    padding-bottom: 132px;
  }

  @include for-size(desktop) {
    padding-left: 205px;
  }


  &__title {
    margin: 0;
    padding: 58px 0 12px 0;
    color: $comment-title;
    font-size: 25px;
    font-weight: bold;
    line-height: 30px;

    @include for-size(tablet) {
      padding: 85px 284px 39px 0;
      font-size: 43px;
      line-height: 50px;
    }
  }

  &__item-text {
    margin: 0;
    width: 100%;
    padding-bottom: 34px;
    color: $comment-item-text;
    font-size: 15px;
    font-weight: normal;
    line-height: 30px;

    @include for-size(tablet) {
      width: 95%;
      padding-bottom: 61px;
      font-size: 17px;
    }
  }

  &__item-name {
    margin: 0;
    color: $comment-item-name;
    font-size: 17px;
    font-weight: bold;
    line-height: 24px;

    @include for-size(tablet) {
      font-size: 18px;
    }
  }

  &__item-email {
    margin: 0;
    color: $comment-item-email;
    font-size: 17px;
    font-weight: normal;
    line-height: 30px;
    text-decoration: none;

    @include for-size(tablet) {
      position: absolute;
      font-size: 18px;
      top: 390px;
      left: 0;
    }

    @include for-size(desktop) {
      top: 350px;
      left: 205px;
    }
  }

  &__navigation {
    padding-top: 22px;

    @include for-size(tablet) {
      position: absolute;
      right: 0;
      top: 350px;
    }

    @include for-size(desktop) {
      top: 305px;
    }
  }

  &__item-button {
    padding: 0 40px;
    margin: 0 -2px;
    width: 50%;
    font-size: 0;
    border: 1px solid $comment-item-button-border;

    @include for-size(tablet) {
      border: none;
      padding: 0 0 0 37px;
    }
  }

  &__button {
    margin: 38px 0 30px 0;
    text-align: center;

    @include for-size(tablet) {
      position: absolute;
      width: 175px;
      top: 52px;
      right: 0;
      line-height: 20px;
    }
  }
}
