$comment-title: #000000;
$comment-item-text: #444444;
$comment-item-name: #000000;
$comment-item-email: #444444;
$comment-item-button-border: #ececec;

.comment {
  display: flex;
  flex-direction: column;
  margin: 0 30px;

  @media (min-width: $tablet-width) {
    margin: 0 50px;
  }

  &__title {
    margin: 0;
    padding: 15px 0;
    color: $comment-title;
    font-size: 25px;
    font-weight: bold;
    line-height: 30px;

    @media (min-width: $tablet-width) {
      padding: 85px 284px 39px 0;
      font-size: 43px;
      line-height: 50px;
    }
  }

  &__item-text {
    margin: 0;
    padding-bottom: 30px;
    color: $comment-item-text;
    font-size: 15px;
    font-weight: normal;
    line-height: 30px;

    @media (min-width: $tablet-width) {
      padding-bottom: 61px;
      font-size: 17px;
    }
  }

  &__item-name {
    margin: 0;
    color: $comment-item-name;
    font-size: 17px;
    font-weight: bold;
    line-height: 24px;

    @media (min-width: $tablet-width) {
      padding-bottom: 8px;
    }
  }

  &__item-email {
    margin: 0;
    color: $comment-item-email;
    font-size: 17px;
    font-weight: normal;
    line-height: 30px;
    text-decoration: none;
  }

  &__item-button {
    padding: 13px 38px;
    font-size: 0;
    border: 1px solid $comment-item-button-border;

    @media (min-width: $tablet-width) {
      border: none;
    }
  }

  &__button {
    margin: 38px 30px;
    text-align: center;

    @media (min-width: $tablet-width) {
      width: 175px;
    }
  }
}
