$contacts-title: #000000;
$contacts-info: #444444;
$contacts-info-title: #444444;

.contacts {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 30px;
  position: relative;

  @include for-size(tablet) {
    padding: 0 50px;
    background: url("data:image/svg+xml,%3Csvg width='47' height='82' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.766 4.767v38.567L47 24 7.766 4.767zM0 81.9V.9h3.833v81H0z' fill='%2363D1BB'/%3E%3Cpath d='M3.833 1H0v81h3.833V1z' fill='%23231F20'/%3E%3C/svg%3E") 91% 0 no-repeat;
  }

  @include for-size(desktop) {
    display: grid;
    grid-template-columns: auto 530px;
    grid-template-rows: min-content auto min-content;
    justify-content: center;
    max-width: #{$general-width + 100px};
    margin: 0 auto;
    padding: 58px 0 105px 225px;
    background: url("data:image/svg+xml,%3Csvg width='47' height='82' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.766 4.767v38.567L47 24 7.766 4.767zM0 81.9V.9h3.833v81H0z' fill='%2363D1BB'/%3E%3Cpath d='M3.833 1H0v81h3.833V1z' fill='%23231F20'/%3E%3C/svg%3E") 113px 120px no-repeat;
    box-sizing: border-box;
  }


  &__title {
    margin: 0;
    padding: 10px 0 26px 0;
    color: $contacts-title;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;

    @include for-size(tablet) {
      font-size: 43px;
      line-height: 50px;
    }

    @include for-size(desktop) {
      grid-column: 1;
      grid-row: 1 / 2;
      padding: 83px 0 38px;
      font-size: 53px;
    }
  }

  &__table {
    margin: 0 0 30px 0;
    color: $contacts-info;
    font-size: 15px;
    line-height: 30px;
    border-spacing: 0;
    border-collapse: collapse;

    @include for-size(tablet) {
      font-size: 17px;
    }

    @include for-size(desktop) {
      grid-column: 1;
      grid-row: 2 / 3;
      margin: -42px 0 0 0;
    }

    &-row {
      @include for-size(tablet) {
        float: left;
        margin-right: 50px;
      }

      &:nth-child(3n+1) {
        @include for-size(tablet) {
          clear: left;
        }
      }
    }

    &-title {
      width: 76px;
      color: $contacts-info-title;
      font-weight: normal;
      white-space: nowrap;
      text-transform: lowercase;
      text-align: start;
      vertical-align: top;
      padding-bottom: 28px;
    }

    &-description {
      vertical-align: top;
    }
  }

  &__item-picture {
    margin: 0 -30px;
    align-self: center;
    position: relative;
    width: 322px;
    height: 457px;

    @include for-size(tablet) {
      margin: 0 -50px;
      padding: 0;
      width: calc(100% + 100px);
      height: 457px;
    }

    @include for-size(desktop) {
      grid-column: 2;
      grid-row: 1/ -1;
      align-self: start;
      width: 527px;
      height: 457px;
      margin: 0 0 0 -46px;
    }
  }

  &__button {
    margin: 34px 0 40px 0;
    text-align: center;

    @include for-size(tablet) {
      width: 194px;
      align-self: center;
    }

    @include for-size(desktop) {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
      align-self: end;
      margin: 0;
    }
  }
}
