$features-title: #000000;
$features-item: #000000;

.features {
  margin: 0 30px;

  @media (min-width: $tablet-width) {
    margin: 0 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  @include for-size (desktop) {
    padding: 25px 20px 22px 220px;
  }

  &__title {
    margin: 0;
    padding-top: 30px;
    color: $features-title;
    font-size: 25px;
    font-weight: bold;
    line-height: 30px;

    @include for-size (tablet) {
      font-size: 43px;
      line-height: 50px;
      padding-bottom: 51px;
    }

    @include for-size (desktop) {
      font-size: 53px;
      line-height: 57px;
    }
  }

  &__list {
    margin: 0;
    padding: 0;

    @include for-size (tablet) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 95px;
    }
  }


  &__item {
    padding: 28px 0;
    color: $features-item;
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
    list-style-type: none;

    @include for-size (tablet) {
      font-size: 20px;
      line-height: 22px;
      width: 300px;
    }
  }
}
