$footer-background: #f1f1f1;
$footer-copyright: #000000;
$footer-social-border: #e5e5e5;

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  background: $footer-background;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 50px 50px 58px 50px;
  }

  &__logo {
    padding: 0;
    margin: 0;
    font-size: 0;

    @include for-size(phone-only) {
      display: none;
    }
  }

  &__social {
    margin: 0;
    padding: 28px 0 0 0;
    display: flex;

    @include for-size(tablet) {
      border-bottom: none;
    }

    &-item {
      font-size: 0;
      margin: 0 20px 0 20px;
    }
  }

  &__copyright {
    margin: 0;
    padding: 20px 0 25px 0;
    color: $footer-copyright;
    font-size: 19px;
    font-weight: bold;
    line-height: 18px;
    text-align: center;
  }

  &__academy {
    font-size: 0;
  }
}
