$footer-background: #f1f1f1;
$footer-copyright: #000000;
$footer-social-border: #e5e5e5;

.footer {
  margin: 0;
  padding: 0;
  background: $footer-background;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;


    @include for-size(tablet) {
      flex-direction: row;
      align-items: flex-start;
      max-width: $general-width;
      margin: 0 auto;
      padding: 52px 50px 58px 50px;
    }
  }


  &__logo {
    padding: 0;
    margin: 0;
    font-size: 0;

    @include for-size(phone-only) {
      display: none;
    }
  }

  &__social {
    position: relative;
    display: flex;
    margin: 0;
    padding: 25px 0 0 0;

    @include for-size(phone-only) {
      width: 100%;
      align-items: center;
      justify-content: center;

      &::after {
        content: "";
        position: absolute;
        left: 30px;
        right: 30px;
        top: 100%;
        margin-top: 13px;
        border-bottom: 1px solid $footer-social-border;
      }
    }

    @include for-size(tablet) {
      align-items: baseline;
      margin: 0 auto;
      padding: 0;
    }

    &-item {
      margin: 0 20px 0 20px;
      font-size: 0;
    }
  }

  &__copyright {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 35px 0 25px 0;
    color: $footer-copyright;
    font-size: 19px;
    font-weight: bold;
    line-height: 18px;
    text-align: center;

    @include for-size(tablet) {
      padding: 0;
    }
  }

  &__academy {
    margin-left: 28px;
    font-size: 0;
    line-height: 0;
  }
}
