$footer-background: #f1f1f1;
$footer-copyright: #000000;

.footer {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background: $footer-background;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 50px;
  }

  &__logo {
    padding: 22px 0;
    font-size: 0;

    @media (max-width: $mobile-width-only) {
      display: none;
    }
  }

  &__social {
    &-item {
      font-size: 0;
    }
  }

  &__copyright {
    color: $footer-copyright;
    font-size: 19px;
    font-weight: bold;
    line-height: 18px;
    text-align: center;
  }

  &__academy {
    font-size: 0;
  }
}
