$form-title-color: #63d1bb;
$form-radio-color: #000000;
$form-checkbox-color: #000000;
$form-item-title-color: #63d1bb;
$form-item-text-color: #000000;
$form-item-input: #000000;
$form-item-input-border: #000000;
$form-item-input-apps: #000000;

.form {
  margin: 0 auto;

  &-order {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
    position: relative;
    align-content: space-between;
    max-width: 1050px;
  }

  &__decorative {
    margin: 18px auto;
    padding: 0 30px;
    font-size: 13px;
    font-weight: normal;
    line-height: 24px;


    @include for-size(tablet) {
      padding: 38px 50px 0 50px;
      font-size: 17px;
      line-height: 30px;
    }

    @include for-size(desktop) {
      padding: 90px 225px 62px 225px;
      max-width: 702px;
    }
  }

  &__fieldset {
    padding: 8px 30px 8px 30px;
    border: 0 none;

    @include for-size(tablet) {
      display: flex;
      flex-direction: row;
      padding: 65px 50px;
      flex-wrap: wrap;
    }

    @include for-size(desktop) {
      flex-wrap: wrap;
      flex-grow: 1;
      justify-content: start;
      margin: 0;
      padding: 0;
      max-width: 1050px;
    }

    &--color {
      align-self: start;
    }
  }

  &__title {
    margin-bottom: 24px;
    padding-right: 22px;
    color: $form-title-color;
    font-size: 17px;
    font-weight: bold;
    line-height: 16px;
    text-transform: uppercase;

    //&::after {
    //  margin-left: 22px;
    //  content: "";
    //  display: inline-block;
    //  vertical-align: middle;
    //  box-sizing: border-box;
    //  width: 65%;
    //  height: 1px;
    //  background: #6CBD83;
    //  border: solid;
    //  border-width: 0 10px;
    //}

    @include for-size(tablet) {
      flex-shrink: 0;
      padding-right: 124px;
    }
  }

  &__text {
    order: 4;
  }

  &__data {
    padding-top: 25px;

    @include for-size(tablet) {
      margin-top: -20px;
      padding-top: 0;
    }
  }

  &__item-text {
    margin: 0;
    padding: 22px 0;
    color: $form-item-text-color;
    font-size: 17px;
    font-weight: bold;
    line-height: 18px;
  }

  &__item-input {
    margin: 0;
    padding: 16px 0;
    width: 260px;
    color: $form-item-input;
    font-size: 17px;
    font-weight: normal;
    line-height: 18px;
    border: 0 none;
    border-bottom: 2px solid $form-item-input-border;


    &--apps {
      display: block;
      width: 260px;
      margin-top: 20px;
      padding: 10px 14px;
      border: 2px solid $form-item-input-apps;
      min-height: 142px;
      box-sizing: border-box;
    }
  }

  &__button {
    margin: 30px 0 55px 0;
  }
}

.form-radio {
  display: flex;
  align-items: center;
  margin-bottom: 11px;
  color: $form-radio-color;
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
  user-select: none;
  cursor: pointer;

  @include for-size(tablet) {
    margin-bottom: 24px;
    font-size: 19px;
    line-height: 18px;
  }

  &__control {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:checked {
      $radioIsChecked: & !global;
    }
  }

  &__text {
    display: inline-flex;
    align-items: center;
    user-select: none;
    cursor: pointer;

    &::before {
      content: "";
      width: 42px;
      height: 42px;
      flex-shrink: 0;
      flex-grow: 0;
      margin-right: 20px;
      background: url("data:image/svg+xml,%3Csvg width='52' height='52' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25.888 2.874c13.231 0 23.926 10.526 23.926 23.472 0 12.946-10.695 23.472-23.926 23.472-13.23 0-23.925-10.526-23.925-23.472 0-12.946 10.694-23.472 23.925-23.472z' stroke='%23444' stroke-width='2'/%3E%3C/svg%3E") 0 50% no-repeat;
      background-size: 42px 42px;

      @include for-size(tablet) {
        width: 52px;
        height: 52px;
        margin-right: 26px;
        background-size: 52px 52px;
      }


      #{$radioIsChecked} + & {
        background: url("data:image/svg+xml,%3Csvg width='52' height='52' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25.888 2.874c13.231 0 23.926 10.526 23.926 23.472 0 12.946-10.695 23.472-23.926 23.472-13.23 0-23.925-10.526-23.925-23.472 0-12.946 10.694-23.472 23.925-23.472z' stroke='%23444' stroke-width='2'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M26.24 16.393c5.424 0 9.821 4.397 9.821 9.822 0 5.424-4.397 9.822-9.822 9.822-5.424 0-9.821-4.398-9.821-9.822 0-5.425 4.397-9.822 9.822-9.822z' fill='%2362D1BA'/%3E%3C/svg%3E") 0 50% no-repeat;
        background-size: 42px 42px;

        @include for-size(tablet) {
          background-size: 52px 52px;
        }
      }
    }
  }
}


.form-checkbox {
  display: flex;
  align-items: center;
  margin-right: 30px;
  margin-bottom: 20px;
  color: $form-checkbox-color;
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;

  @include for-size(tablet) {
    margin-bottom: 24px;
  }
  &__control {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:checked {
      $checkboxIsChecked: & !global;
    }
  }

  &__text {
    display: inline-flex;
    align-items: center;
    user-select: none;
    cursor: pointer;

    &::before {
      content: "";
      width: 38px;
      height: 38px;
      flex-shrink: 0;
      flex-grow: 0;
      margin-right: 24px;
      background: url("data:image/svg+xml,%3Csvg width='52' height='52' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23444' stroke-width='2' d='M1 1h50v50H1z'/%3E%3C/svg%3E") 0 50% no-repeat;
      background-size: 38px 38px;

      @include for-size(tablet) {
        margin-right: 30px;
        width: 52px;
        height: 52px;
        background-size: 52px 52px;
      }


      #{$checkboxIsChecked} + & {
        background: url("data:image/svg+xml,%3Csvg width='52' height='52' viewBox='0 0 52 52' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1' y='1' width='50' height='50' stroke='%23444444' stroke-width='2'/%3E%3Cpath d='M42.3704 17.3568L41.0098 16L21.5739 35.2863L11.9531 25.6916L10.5926 27.0485L20.2134 36.6432L21.5739 38L23.0316 36.6432L42.3704 17.3568Z' fill='black'/%3E%3C/svg%3E%0A") 0 50% no-repeat;
        background-size: 38px 38px;

        @include for-size(tablet) {
          background-size: 52px 52px;
        }
      }
    }
  }
}
