$form-title-color: #63d1bb;
$form-radio-color: #000000;
$form-checkbox-color: #000000;
$form-item-title-color: #63d1bb;
$form-item-text-color: #000000;
$form-item-input: #000000;
$form-item-input-border: #000000;
$form-item-input-apps: #000000;

.form {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  position: relative;
  align-content: space-between;

  &__fieldset {
    margin: 0;
    padding: 25px 30px 25px 30px;
    border: 0 none;

    @include for-size (tablet) {
      display: flex;
      flex-direction: row;
      padding: 65px 30px;
      flex-wrap: wrap;
    }
  }

  &__title {
    margin-bottom: 24px;
    padding-right: 22px;
    color: $form-title-color;
    font-size: 17px;
    font-weight: bold;
    line-height: 16px;
    text-transform: uppercase;

    //&::after {
    //  margin-left: 22px;
    //  content: "";
    //  display: inline-block;
    //  vertical-align: middle;
    //  box-sizing: border-box;
    //  width: 65%;
    //  height: 1px;
    //  background: #6CBD83;
    //  border: solid;
    //  border-width: 0 10px;
    //}

    @include for-size (tablet) {
      flex-shrink: 0;
      padding-right: 100px;
    }
  }

  &__text {
    order: 4;
  }

  &__data {
    padding-top: 25px;
    @include for-size (tablet) {
      width: auto;
    }
  }

  &__item-text {
    margin: 0;
    padding: 22px 0;
    color: $form-item-text-color;
    font-size: 17px;
    font-weight: bold;
    line-height: 18px;
  }

  &__item-input {
    margin: 0;
    padding: 17px 0;
    width: 100%;
    color: $form-item-input;
    font-size: 17px;
    font-weight: normal;
    line-height: 18px;
    border: 0 none;
    border-bottom: 2px solid $form-item-input-border;


    &--apps {
      display: block;
      width: 100%;
      margin-top: 20px;
      padding: 10px 14px;
      border: 2px solid $form-item-input-apps;
      min-height: 142px;
      box-sizing: border-box;
    }
  }


  &-radio {
    color: $form-radio-color;
    font-size: 17px;
    font-weight: bold;
    line-height: 18px;
  }

  &-checkbox {
    color: $form-checkbox-color;
    font-size: 17px;
    font-weight: bold;
    line-height: 18px;
  }

  &__button {
    margin: 30px 0 55px 0;
  }
}
