$header-nav-link-color: #000000;
$header-nav-link-border: #ececec;
$header-nav-toggle-background-color: #ffffff;
$header-nav-toggle-box-shadow: #231f20;

.header {
  position: relative;
  z-index: 2;

  &__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

    @include for-size(tablet) {
      flex-direction: row;
      max-width: $general-width;
    }
  }

  &__logo {
    position: relative;
    padding: 20px 0 10px 0;
    font-size: 0;
    line-height: 0;

    @include for-size(tablet) {
      margin-right: auto;
      margin-left: 50px;
      padding: 0;
    }
    @include for-size(desktop) {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate3d(-50%, -50%, 0);
      padding: 0;
      margin: 0;
    }
  }

  &__nav {
    //display: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;

    @include for-size(phone-only) {
      margin-top: 14px;
      width: 100%;
    }
    @include for-size(tablet) {
      flex-direction: row;
      font-size: 15px;
    }
    @include for-size(desktop) {
      flex-grow: 1;
    }

    &-toggle {
      position: absolute;
      display: block;
      top: 28px;
      right: 50px;
      width: 20px;
      height: 2px;
      z-index: 2;
      cursor: pointer;
      border: none;
      background-color: $header-nav-toggle-background-color;
      box-shadow: 0 2px 0 0 $header-nav-toggle-box-shadow, 0 8px 0 0 $header-nav-toggle-box-shadow, 0 14px 0 0 $header-nav-toggle-box-shadow;
      font-size: 0;

      &--active {
        box-shadow: none;

        &::before,
        &::after {
          content: "";
          position: absolute;
          display: block;
          left: 14px;
          right: 0;
          top: 10px;
          width: 27px;
          height: 2px;
          background-color: $header-nav-toggle-box-shadow;
        }

        &::before {
          transform: rotate(45deg);
        }

        &::after {
          transform: rotate(-45deg);
        }
      }

      @include for-size(tablet) {
        display: none;
      }

      @include for-size(desktop) {
        display: none;
      }
    }

    &-link {
      position: relative;
      margin: 0;
      padding: 26px 32px 28px 76px;
      color: $header-nav-link-color;
      font-size: 17px;
      font-weight: bold;
      line-height: 24px;
      white-space: nowrap;
      text-decoration: none;
      border-top: 1px solid $header-nav-link-border;

      &--catalog {
        @include for-size(tablet) {
          position: absolute;
          top: 109px;
          left: 50px;
          padding: 0;
          font-size: 15px;
          border: none;
        }
        @include for-size(desktop) {
          position: static;
          padding: 32px 35px 32px 0;
          font-size: 17px;
          line-height: 24px;
          border-top: none;
          border-right: 1px solid #ececec;
          border-bottom: none;
        }
      }

      &--form {
        @include for-size(tablet) {
          position: absolute;
          top: 109px;
          left: 218px;
          padding: 0;
          font-size: 15px;
          border: none;
        }
        @include for-size(desktop) {
          position: static;
          margin-right: auto;
          padding: 32px 35px;
          border-top: none;
          border-bottom: none;
        }
      }

      &--search {
        position: relative;

        &-icon {
          position: absolute;
          top: 25px;
          left: 32px;
          width: 18px;
          height: 30px;

          @include for-size(tablet) {
            position: static;
          }
        }

        @include for-size(tablet) {
          padding: 30px 32px 22px 32px;
          font-size: 0;
          line-height: 0;
          border-top: none;
          border-left: 1px solid $header-nav-link-border;
          border-bottom: none;
        }
      }

      &--basket {
        border-bottom: 1px solid $header-nav-link-border;
        position: relative;

        &-icon {
          position: absolute;
          top: 24px;
          left: 30px;
          width: 22px;
          height: 30px;
          @include for-size(tablet) {
            top: 30px;
          }
        }
        @include for-size(tablet) {
          margin-right: 50px;
          padding: 32px 0 32px 85px;
          border-top: none;
          border-left: 1px solid $header-nav-link-border;
          border-bottom: none;
        }
        @include for-size(desktop) {
          margin-right: 0;
        }
      }

      &--new {
        @include for-size(phone-only) {
          display: none;
        }
        @include for-size(tablet) {
          display: none;
        }
        @include for-size(desktop) {
          display: block;
          position: absolute;
          padding: 0;
          left: 0;
          top: 108px;
          border: none;
          font-size: 15px;
          line-height: 24px;
        }
      }

      &--sale {
        @include for-size(phone-only) {
          display: none;
        }
        @include for-size(tablet) {
          display: none;
        }
        @include for-size(desktop) {
          display: block;
          position: absolute;
          padding: 0;
          top: 108px;
          left: 220px;
          border: none;
          font-size: 15px;
          line-height: 24px;
        }
      }
    }
  }

  &__info {
    font-size: 15px;
    font-weight: normal;
    line-height: 24px;
    white-space: nowrap;

    @include for-size(phone-only) {
      display: none;
    }
    @include for-size(tablet) {
      position: absolute;
      right: 50px;
      top: 94px;
      text-align: right;
      border: none;
      padding: 0;
    }
    @include for-size(desktop) {
      right: 0;
    }
  }
}
