$header-nav-link-color: #000000;
$header-nav-link-border: #ececec;
$header-nav-toggle-background-color: #ffffff;
$header-nav-toggle-box-shadow: #231f20;

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;

  &__logo {
    padding: 22px 0;
    font-size: 0;
  }

  &__nav {
    margin: 0;
    padding: 0;
    //display: none;
    display: flex;
    justify-content: center;
    flex-direction: column;

    &-link {
      margin: 0;
      padding: 28px 30px;
      color: $header-nav-link-color;
      font-size: 17px;
      font-weight: bold;
      line-height: 24px;
      text-decoration: none;
      position: relative;
      border-top: 1px solid $header-nav-link-border;
      border-bottom: 1px solid $header-nav-link-border;
    }
  }

  &__nav-toggle {
    position: absolute;
    display: block;
    top: 30px;
    left: 269px;
    right: 30px;
    width: 20px;
    height: 2px;
    z-index: 2;
    cursor: pointer;
    border: none;
    background-color: $header-nav-toggle-background-color;
    box-shadow: 0 2px 0 0 $header-nav-toggle-box-shadow, 0 8px 0 0 $header-nav-toggle-box-shadow, 0 14px 0 0 $header-nav-toggle-box-shadow;
    font-size: 0;
  }
}
