$hot-product-item-preview: #010000;
$hot-product-item-description-color: #63d1bb;
$hot-product-item-text: #444444;
$hot-product-item-row-title: #444444;
$hot-product-item-row-description: #444444;
$hot-product-item-price: #444444;


.hot-product {
  margin: 0 30px;
  display: flex;
  flex-direction: column;
  position: relative;

  @include for-size(tablet) {
    margin: 0 50px;

    flex-wrap: wrap;
  }

  &__item-preview {
    margin: 0;
    padding-top: 30px;
    color: $hot-product-item-preview;
    font-size: 25px;
    font-weight: bold;
    line-height: 30px;

    @include for-size(tablet) {
      padding-bottom: 50px;
      font-size: 43px;
      line-height: 50px;
      flex-grow: 2;
    }
  }

  &__item-description {
    color: $hot-product-item-description-color;
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
    text-transform: uppercase;

    @include for-size(tablet) {
      width: 100px;
      position: absolute;
      right: 0;
      padding-top: 40px;
      line-height: 17px;
      text-align: center;
    }
  }


  &__item-text {
    margin: 0;
    padding: 15px 0;
    color: $hot-product-item-text;
    font-size: 15px;
    font-weight: normal;
    line-height: 24px;

    @include for-size(tablet) {
      width: 295px;
      font-size: 17px;
      line-height: 30px;
      margin-bottom: 35px;
    }
  }

  &__item-table {
    @include for-size(tablet) {
      width: 295px;
      margin-bottom: 50px;
    }
  }

  &__row-title {
    margin: 0;
    color: $hot-product-item-row-title;
    font-size: 15px;
    font-weight: normal;
    line-height: 20px;
    text-align: start;
  }

  &__row-description {
    margin: 0;
    color: $hot-product-item-row-description;
    font-size: 15px;
    font-weight: normal;
    line-height: 20px;
  }

  &__item-picture {
    margin: 0;
    padding: 28px 0;

    @include for-size(tablet) {
      position: absolute;
      top: 125px;
      right: 0;
    }
  }

  &__item-price {
    margin: 0;
    padding-bottom: 25px;
    color: $hot-product-item-price;
    font-size: 17px;
    font-weight: bold;
    line-height: 24px;
    text-align: center;

    @include for-size(tablet) {
      width: 295px;
      font-size: 20px;
      padding-bottom: 30px;
    }
  }

  &__button {
    @include for-size(tablet) {
      width: 292px;
    }
  }
}

