$intro-title-color: #010000;
$intro-text-color: #444444;
$intro-title-background: #f1f1f1;
$intro-title-bg-index-mobile: #f9f9f9 url("../img/hero-mobile@1x.jpg") 50% -17px no-repeat;
$intro-title-bg-index-tablet: #f9f9f9 url("../img/hero-tablet@1x.jpg") 50% -3px no-repeat;
$intro-title-bg-index-desktop: #f9f9f9 url("../img/hero-desktop@1x.jpg") 50% 0 no-repeat;
$intro-item-color: #ffffff;
$intro-item-bg1: #63d1bb;
$intro-item-bg2: #56c3b2;


.intro {
  display: flex;
  flex-direction: column;

  @include for-size(tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__title {
    margin: 0;
    padding: 72px 20px 75px;
    color: $intro-title-color;
    font-size: 27px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    background: $intro-title-background;
    flex-grow: 1;


    @include for-size(tablet) {
      position: relative;
      padding: 100px 20px 82px;
      width: 100%;
      font-size: 43px;
      line-height: 50px;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: -6px;
        left: 0;
        height: 24px;
        background: url("data:image/svg+xml,%3Csvg width='768' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M749.784 0c-9.642 0-9.642 9.882-19.217 9.882S720.925 0 711.35 0c-9.574 0-9.641 9.882-19.216 9.882-9.642 0-9.642-9.882-19.284-9.882-9.641 0-9.641 9.882-19.216 9.882-9.642 0-9.642-9.882-19.217-9.882-9.641 0-9.641 9.882-19.216 9.882-9.575 0-9.843-9.882-19.418-9.882-9.641 0-9.641 9.882-19.216 9.882-9.575 0-9.709-9.882-19.284-9.882-9.641 0-9.641 9.882-19.216 9.882-9.642 0-9.642-9.882-19.284-9.882-9.641 0-9.641 9.882-19.216 9.882-9.642 0-9.642-9.882-19.217-9.882-9.574 0-9.708 9.882-19.35 9.882-9.642 0-9.642-9.882-19.217-9.882-9.641 0-9.641 9.882-19.216 9.882-9.642 0-9.642-9.882-19.284-9.882-9.641 0-9.641 9.882-19.216 9.882-9.642 0-9.642-9.882-19.217-9.882-9.641 0-9.641 9.882-19.216 9.882-9.642 0-9.642-9.882-19.217-9.882-9.641 0-9.641 9.882-19.283 9.882-9.642 0-9.642-9.882-19.284-9.882-9.641 0-9.641 9.882-19.283 9.882-9.642 0-9.642-9.882-19.284-9.882-9.641 0-9.641 9.882-19.283 9.882-9.642 0-9.642-9.882-19.283-9.882-9.642 0-9.642 9.882-19.284 9.882S181.791 0 172.15 0c-9.642 0-9.642 9.882-19.217 9.882-9.642 0-9.642-9.882-19.283-9.882-9.642 0-9.642 9.882-19.284 9.882S104.724 0 95.083 0C85.44 0 85.44 9.882 75.799 9.882S66.157 0 56.516 0C47.142 0 47.142 9.882 37.5 9.882 27.858 9.882 27.858 0 18.284 0 8.709 0 8.642 9.882-1 9.882V24h770V9.882c-9.642 0-9.642-9.882-19.216-9.882z' fill='%23fff'/%3E%3C/svg%3E") 0 0 repeat-x;
        z-index: 4;

        @include for-size(desktop) {
          height: 34px;
          background: url("data:image/svg+xml,%3Csvg width='1150' height='34' viewBox='0 0 1150 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1121.3 0C1106.9 0 1106.9 14 1092.6 14C1078.3 14 1078.2 0 1063.9 0C1049.6 0 1049.5 14 1035.2 14C1020.8 14 1020.8 0 1006.4 0C992 0 992 14 977.7 14C963.3 14 963.3 0 949 0C934.6 0 934.6 14 920.3 14C906 14 905.6 0 891.3 0C876.9 0 876.9 14 862.6 14C848.3 14 848.1 0 833.8 0C819.4 0 819.4 14 805.1 14C790.7 14 790.7 0 776.3 0C761.9 0 761.9 14 747.6 14C733.2 14 733.2 0 718.9 0C704.6 0 704.4 14 690 14C675.6 14 675.6 0 661.3 0C646.9 0 646.9 14 632.6 14C618.2 14 618.2 0 603.8 0C589.4 0 589.4 14 575.1 14C560.7 14 560.7 0 546.4 0C532 0 532 14 517.7 14C503.3 14 503.3 0 489 0C474.6 0 474.6 14 460.2 14C445.8 14 445.8 0 431.4 0C417 0 417 14 402.6 14C388.2 14 388.2 0 373.8 0C359.4 0 359.4 14 345 14C330.6 14 330.6 0 316.2 0C301.8 0 301.8 14 287.4 14C273 14 273 0 258.6 0C244.2 0 244.2 14 229.9 14C215.5 14 215.5 0 201.1 0C186.7 0 186.7 14 172.3 14C157.9 14 157.9 0 143.5 0C129.1 0 129.1 14 114.7 14C100.3 14 100.3 0 85.9 0C71.9 0 71.9 14 57.5 14C43.1 14 43.1 0 28.8 0C14.5 0 14.4 14 0 14V34H1150V14C1135.6 14 1135.6 0 1121.3 0Z' fill='white'/%3E%3C/svg%3E%0A") 50% 0 repeat-x;
          bottom: 0;
        }
      }

      @include for-size(desktop) {
        padding-top: 102px;
        padding-bottom: 113px;
        font-size: 53px;
        line-height: 57px;
      }
    }

    &--index-bg {
      padding-bottom: 121px;
      background: $intro-title-bg-index-mobile;

      @include for-size(tablet) {
        margin: 0 0 -125px;
        padding-top: 155px;
        padding-bottom: 497px;
        background: $intro-title-bg-index-tablet;
        background-size: cover;

        &::after {
          background: url("data:image/svg+xml,%3Csvg width='768' height='24' viewBox='0 0 768 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M749.784 0C740.142 0 740.142 9.88235 730.567 9.88235C720.992 9.88235 720.925 0 711.35 0C701.776 0 701.709 9.88235 692.134 9.88235C682.492 9.88235 682.492 0 672.85 0C663.209 0 663.209 9.88235 653.634 9.88235C643.992 9.88235 643.992 0 634.417 0C624.776 0 624.776 9.88235 615.201 9.88235C605.626 9.88235 605.358 0 595.783 0C586.142 0 586.142 9.88235 576.567 9.88235C566.992 9.88235 566.858 0 557.283 0C547.642 0 547.642 9.88235 538.067 9.88235C528.425 9.88235 528.425 0 518.783 0C509.142 0 509.142 9.88235 499.567 9.88235C489.925 9.88235 489.925 0 480.35 0C470.776 0 470.642 9.88235 461 9.88235C451.358 9.88235 451.358 0 441.783 0C432.142 0 432.142 9.88235 422.567 9.88235C412.925 9.88235 412.925 0 403.283 0C393.642 0 393.642 9.88235 384.067 9.88235C374.425 9.88235 374.425 0 364.85 0C355.209 0 355.209 9.88235 345.634 9.88235C335.992 9.88235 335.992 0 326.417 0C316.776 0 316.776 9.88235 307.134 9.88235C297.492 9.88235 297.492 0 287.85 0C278.209 0 278.209 9.88235 268.567 9.88235C258.925 9.88235 258.925 0 249.283 0C239.642 0 239.642 9.88235 230 9.88235C220.358 9.88235 220.358 0 210.717 0C201.075 0 201.075 9.88235 191.433 9.88235C181.791 9.88235 181.791 0 172.15 0C162.508 0 162.508 9.88235 152.933 9.88235C143.291 9.88235 143.291 0 133.65 0C124.008 0 124.008 9.88235 114.366 9.88235C104.724 9.88235 104.724 0 95.0826 0C85.4409 0 85.4409 9.88235 75.7991 9.88235C66.1574 9.88235 66.1574 0 56.5157 0C47.1417 0 47.1417 9.88235 37.5 9.88235C27.8583 9.88235 27.8583 0 18.2835 0C8.70869 0 8.64174 9.88235 -1 9.88235V24H769V9.88235C759.358 9.88235 759.358 0 749.784 0Z' fill='white'/%3E%3C/svg%3E%0A") 50% 0 repeat-x;
          bottom: -6px;
        }
      }

      @include for-size(desktop) {
        padding-top: 158px;
        padding-bottom: 480px;
        background: $intro-title-bg-index-desktop;

        &::after {
          background: url("data:image/svg+xml,%3Csvg width='1150' height='34' viewBox='0 0 1150 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1168.8 0C1153.15 0 1153.15 14 1137.61 14C1122.07 14 1121.96 0 1106.41 0C1090.87 0 1090.76 14 1075.22 14C1059.57 14 1059.57 0 1043.91 0C1028.26 0 1028.26 14 1012.72 14C997.065 14 997.065 0 981.522 0C965.87 0 965.87 14 950.326 14C934.783 14 934.348 0 918.804 0C903.152 0 903.152 14 887.609 14C872.065 14 871.848 0 856.304 0C840.652 0 840.652 14 825.109 14C809.456 14 809.456 0 793.804 0C778.152 0 778.152 14 762.609 14C746.956 14 746.957 0 731.413 0C715.87 0 715.652 14 700 14C684.348 14 684.348 0 668.804 0C653.152 0 653.152 14 637.609 14C621.956 14 621.956 0 606.304 0C590.652 0 590.652 14 575.109 14C559.456 14 559.457 0 543.913 0C528.261 0 528.261 14 512.717 14C497.065 14 497.065 0 481.522 0C465.87 0 465.87 14 450.217 14C434.565 14 434.565 0 418.913 0C403.261 0 403.261 14 387.609 14C371.957 14 371.957 0 356.304 0C340.652 0 340.652 14 325 14C309.348 14 309.348 0 293.696 0C278.043 0 278.043 14 262.391 14C246.739 14 246.739 0 231.087 0C215.435 0 215.435 14 199.891 14C184.239 14 184.239 0 168.587 0C152.935 0 152.935 14 137.283 14C121.63 14 121.63 0 105.978 0C90.3261 0 90.3261 14 74.6739 14C59.0217 14 59.0217 0 43.3696 0C28.1522 0 28.1522 14 12.5 14C-3.15218 14 -3.15218 0 -18.6957 0C-34.2391 0 -34.3478 14 -50 14V34H1200V14C1184.35 14 1184.35 0 1168.8 0Z' fill='white'/%3E%3C/svg%3E%0A") 50% 0 repeat-x;
          bottom: -11px;
        }
      }
    }
  }

  &__text {
    margin: 17px 30px 30px 30px;
    color: $intro-text-color;
    font-size: 13px;
    font-weight: normal;
    line-height: 24px;

    @include for-size(tablet) {
      margin: 55px 50px 63px 50px;
      font-size: 17px;
      line-height: 30px;
    }
  }

  &__item {
    margin: 0;
    padding: 24px 160px 29px 32px;
    height: 50px;
    color: $intro-item-color;
    font-size: 19px;
    font-weight: bold;
    line-height: 24px;
    text-decoration: none;
    position: relative;

    @include for-size(tablet) {
      font-size: 20px;
      line-height: 30px;
      width: 130px;
      padding: 26px 168px 42px 36px;
      z-index: 3;
    }

    @include for-size(desktop) {
      padding: 25px 360px 42px 35px;
    }

    &--bg1 {
      background: $intro-item-bg1 url("data:image/svg+xml,%3Csvg width='40' height='62' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='.5' fill='%23149080'%3E%3Cpath d='M15.162 37.717c-.3.995-.2 2.19 0 3.582.499 2.588 1.696 5.971 2.394 9.654h5.087c.698-3.583 1.895-6.967 2.494-9.654.3-1.393.3-2.687 0-3.582-.3-.896-.898-1.593-1.995-2.29h-5.985c-1.197.697-1.796 1.394-1.995 2.29zM26.933 57.621H13.167c-1.297 0-2.294.995-2.294 2.19V62h18.354v-2.19c0-1.194-.998-2.189-2.294-2.189zM34.015 2.19h-11.67C22.344.994 21.346 0 20.05 0s-2.294.995-2.294 2.19H6.085L0 27.566c.798-.498 1.596-.995 2.594-.995 1.396 0 2.194.796 2.892 1.393.699.597 1.197.796 1.397.796.299 0 .798-.299 1.496-.796.698-.498 1.596-1.393 2.893-1.393 1.297 0 2.194.796 2.893 1.393.698.497 1.197.796 1.496.796.1 0 .3-.1.598-.199.2-.1.5-.398.898-.597.499-.398 1.097-.995 1.995-1.194.3-.1.599-.1.898-.1 1.297 0 2.194.796 2.893 1.393.698.498 1.197.797 1.496.797.3 0 .798-.299 1.396-.797.699-.597 1.596-1.393 2.893-1.393 1.397 0 2.195.796 2.893 1.393.3.299.598.498.898.598.2.1.399.199.598.199.3 0 .798-.299 1.397-.896.698-.597 1.596-1.393 2.892-1.393.998 0 1.796.497 2.594.995L34.015 2.189zM23.442 53.143h-6.883c-.699 0-1.098.497-1.098 1.094 0 .597.5 1.095 1.098 1.095h6.883c.698 0 1.097-.498 1.097-1.095.1-.597-.4-1.094-1.098-1.094z'/%3E%3Cpath d='M20.05 28.76c-.1 0-.3.1-.599.199-.2.1-.399.298-.598.398v3.682h2.294v-3.583c-.499-.398-.898-.696-1.097-.696z'/%3E%3C/g%3E%3C/svg%3E") 87% 20px no-repeat;

      @include for-size(tablet) {
        background: $intro-item-bg1 url("data:image/svg+xml,%3Csvg width='40' height='62' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='.5' fill='%23149080'%3E%3Cpath d='M15.162 37.717c-.3.995-.2 2.19 0 3.582.499 2.588 1.696 5.971 2.394 9.654h5.087c.698-3.583 1.895-6.967 2.494-9.654.3-1.393.3-2.687 0-3.582-.3-.896-.898-1.593-1.995-2.29h-5.985c-1.197.697-1.796 1.394-1.995 2.29zM26.933 57.621H13.167c-1.297 0-2.294.995-2.294 2.19V62h18.354v-2.19c0-1.194-.998-2.189-2.294-2.189zM34.015 2.19h-11.67C22.344.994 21.346 0 20.05 0s-2.294.995-2.294 2.19H6.085L0 27.566c.798-.498 1.596-.995 2.594-.995 1.396 0 2.194.796 2.892 1.393.699.597 1.197.796 1.397.796.299 0 .798-.299 1.496-.796.698-.498 1.596-1.393 2.893-1.393 1.297 0 2.194.796 2.893 1.393.698.497 1.197.796 1.496.796.1 0 .3-.1.598-.199.2-.1.5-.398.898-.597.499-.398 1.097-.995 1.995-1.194.3-.1.599-.1.898-.1 1.297 0 2.194.796 2.893 1.393.698.498 1.197.797 1.496.797.3 0 .798-.299 1.396-.797.699-.597 1.596-1.393 2.893-1.393 1.397 0 2.195.796 2.893 1.393.3.299.598.498.898.598.2.1.399.199.598.199.3 0 .798-.299 1.397-.896.698-.597 1.596-1.393 2.892-1.393.998 0 1.796.497 2.594.995L34.015 2.189zM23.442 53.143h-6.883c-.699 0-1.098.497-1.098 1.094 0 .597.5 1.095 1.098 1.095h6.883c.698 0 1.097-.498 1.097-1.095.1-.597-.4-1.094-1.098-1.094z'/%3E%3Cpath d='M20.05 28.76c-.1 0-.3.1-.599.199-.2.1-.399.298-.598.398v3.682h2.294v-3.583c-.499-.398-.898-.696-1.097-.696z'/%3E%3C/g%3E%3C/svg%3E") 257px 30px no-repeat;
      }

      @include for-size(desktop) {
        background: $intro-item-bg1 url("data:image/svg+xml,%3Csvg width='40' height='62' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='.5' fill='%23149080'%3E%3Cpath d='M15.162 37.717c-.3.995-.2 2.19 0 3.582.499 2.588 1.696 5.971 2.394 9.654h5.087c.698-3.583 1.895-6.967 2.494-9.654.3-1.393.3-2.687 0-3.582-.3-.896-.898-1.593-1.995-2.29h-5.985c-1.197.697-1.796 1.394-1.995 2.29zM26.933 57.621H13.167c-1.297 0-2.294.995-2.294 2.19V62h18.354v-2.19c0-1.194-.998-2.189-2.294-2.189zM34.015 2.19h-11.67C22.344.994 21.346 0 20.05 0s-2.294.995-2.294 2.19H6.085L0 27.566c.798-.498 1.596-.995 2.594-.995 1.396 0 2.194.796 2.892 1.393.699.597 1.197.796 1.397.796.299 0 .798-.299 1.496-.796.698-.498 1.596-1.393 2.893-1.393 1.297 0 2.194.796 2.893 1.393.698.497 1.197.796 1.496.796.1 0 .3-.1.598-.199.2-.1.5-.398.898-.597.499-.398 1.097-.995 1.995-1.194.3-.1.599-.1.898-.1 1.297 0 2.194.796 2.893 1.393.698.498 1.197.797 1.496.797.3 0 .798-.299 1.396-.797.699-.597 1.596-1.393 2.893-1.393 1.397 0 2.195.796 2.893 1.393.3.299.598.498.898.598.2.1.399.199.598.199.3 0 .798-.299 1.397-.896.698-.597 1.596-1.393 2.892-1.393.998 0 1.796.497 2.594.995L34.015 2.189zM23.442 53.143h-6.883c-.699 0-1.098.497-1.098 1.094 0 .597.5 1.095 1.098 1.095h6.883c.698 0 1.097-.498 1.097-1.095.1-.597-.4-1.094-1.098-1.094z'/%3E%3Cpath d='M20.05 28.76c-.1 0-.3.1-.599.199-.2.1-.399.298-.598.398v3.682h2.294v-3.583c-.499-.398-.898-.696-1.097-.696z'/%3E%3C/g%3E%3C/svg%3E") 448px 30px no-repeat;
      }
    }

    &--bg2 {
      background: $intro-item-bg2 url("data:image/svg+xml,%3Csvg width='60' height='60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='.5' d='M0 43.993L27.4 60V36.544L0 20.436v23.557zm51.3-31.51V15c0 1.812-3.5 3.322-7.7 3.322-4.3 0-7.7-1.51-7.7-3.322v-4.127c.3 1.71 3.6 3.12 7.7 3.12 4.3 0 7.7-1.51 7.7-3.322S47.8 7.35 43.6 7.35h-1l-5-2.92V7.55c0 1.812-3.5 3.323-7.7 3.323-2.7 0-5-.604-6.4-1.51-.2-.202-.4-.403-.7-.605-.4-.402-.6-.805-.6-1.208V4.53L17.4 7.35h-1.1c-4.3 0-7.7 1.51-7.7 3.322s3.5 3.322 7.7 3.322c4.1 0 7.4-1.41 7.7-3.12V15c0 1.812-3.5 3.322-7.7 3.322-4.3 0-7.7-1.51-7.7-3.322v-2.416l-6 3.523 27.5 16.108 27.4-16.007-6.2-3.725zM37.7 22.752c0 1.812-3.5 3.322-7.7 3.322-4.3 0-7.7-1.51-7.7-3.322v-4.128c.3 1.712 3.6 3.121 7.7 3.121s7.4-1.41 7.7-3.12v4.127zm-5.1 13.993V60L60 43.993V20.738L32.6 36.745zm-2.7-30.1c4.3 0 7.7-1.51 7.7-3.323C37.6 1.51 34.1 0 29.9 0c-4.3 0-7.7 1.51-7.7 3.322s3.4 3.322 7.7 3.322z' fill='%23149080'/%3E%3C/svg%3E") 89% 20px no-repeat;

      @include for-size(tablet) {
        background: $intro-item-bg2 url("data:image/svg+xml,%3Csvg width='60' height='60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='.5' d='M0 43.993L27.4 60V36.544L0 20.436v23.557zm51.3-31.51V15c0 1.812-3.5 3.322-7.7 3.322-4.3 0-7.7-1.51-7.7-3.322v-4.127c.3 1.71 3.6 3.12 7.7 3.12 4.3 0 7.7-1.51 7.7-3.322S47.8 7.35 43.6 7.35h-1l-5-2.92V7.55c0 1.812-3.5 3.323-7.7 3.323-2.7 0-5-.604-6.4-1.51-.2-.202-.4-.403-.7-.605-.4-.402-.6-.805-.6-1.208V4.53L17.4 7.35h-1.1c-4.3 0-7.7 1.51-7.7 3.322s3.5 3.322 7.7 3.322c4.1 0 7.4-1.41 7.7-3.12V15c0 1.812-3.5 3.322-7.7 3.322-4.3 0-7.7-1.51-7.7-3.322v-2.416l-6 3.523 27.5 16.108 27.4-16.007-6.2-3.725zM37.7 22.752c0 1.812-3.5 3.322-7.7 3.322-4.3 0-7.7-1.51-7.7-3.322v-4.128c.3 1.712 3.6 3.121 7.7 3.121s7.4-1.41 7.7-3.12v4.127zm-5.1 13.993V60L60 43.993V20.738L32.6 36.745zm-2.7-30.1c4.3 0 7.7-1.51 7.7-3.323C37.6 1.51 34.1 0 29.9 0c-4.3 0-7.7 1.51-7.7 3.322s3.4 3.322 7.7 3.322z' fill='%23149080'/%3E%3C/svg%3E") 240px 32px no-repeat;
      }

      @include for-size(desktop) {
        background: $intro-item-bg2 url("data:image/svg+xml,%3Csvg width='60' height='60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='.5' d='M0 43.993L27.4 60V36.544L0 20.436v23.557zm51.3-31.51V15c0 1.812-3.5 3.322-7.7 3.322-4.3 0-7.7-1.51-7.7-3.322v-4.127c.3 1.71 3.6 3.12 7.7 3.12 4.3 0 7.7-1.51 7.7-3.322S47.8 7.35 43.6 7.35h-1l-5-2.92V7.55c0 1.812-3.5 3.323-7.7 3.323-2.7 0-5-.604-6.4-1.51-.2-.202-.4-.403-.7-.605-.4-.402-.6-.805-.6-1.208V4.53L17.4 7.35h-1.1c-4.3 0-7.7 1.51-7.7 3.322s3.5 3.322 7.7 3.322c4.1 0 7.4-1.41 7.7-3.12V15c0 1.812-3.5 3.322-7.7 3.322-4.3 0-7.7-1.51-7.7-3.322v-2.416l-6 3.523 27.5 16.108 27.4-16.007-6.2-3.725zM37.7 22.752c0 1.812-3.5 3.322-7.7 3.322-4.3 0-7.7-1.51-7.7-3.322v-4.128c.3 1.712 3.6 3.121 7.7 3.121s7.4-1.41 7.7-3.12v4.127zm-5.1 13.993V60L60 43.993V20.738L32.6 36.745zm-2.7-30.1c4.3 0 7.7-1.51 7.7-3.323C37.6 1.51 34.1 0 29.9 0c-4.3 0-7.7 1.51-7.7 3.322s3.4 3.322 7.7 3.322z' fill='%23149080'/%3E%3C/svg%3E") 430px 32px no-repeat;
      }
    }

    &__item-picture {
      position: absolute;
      right: 30px;
      top: 23px;
    }
  }
}
