$modal-border: #c6c6c6;
$modal-background: rgba(255, 255, 255, 0.9);
$modal-inner-background: #ffffff;
$modal-border-modal-radio: rgba(68, 68, 68, 0.1);
$modal-border-modal-radio-hover: rgba(68, 68, 68, 0.3);
$modal-box-shadow-color: rgba(0, 1, 1, 0.25);
$button-modal-text-color: #ffffff;
$button-modal-border: #63d1bb;
$button-modal-border-hover: #444444;
$button-modal-background-hover: linear-gradient(0deg, #444444, #444444);


.modal {
  position: fixed;
  z-index: -100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  &.is--visible {
    $modalVisible: & !global;
    z-index: 100;
  }

  &__blackout {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $modal-background;
    opacity: 0;
    transition: opacity 50ms linear;

    &.is-blacked-out {
      opacity: 1;
    }
  }

  &__inner {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
    margin: 0;
    padding: 30px 30px 45px;
    border: 1px solid $modal-border;
    box-shadow: 0 5px 10px $modal-box-shadow-color;
    background: $modal-inner-background;
    transform: translateY(50%);
    opacity: 0;
    transition: opacity 100ms linear;


    #{$modalVisible} & {
      opacity: 1;
    }

    @include for-size(tablet) {
      margin: 0 auto;
      padding: 43px 108px;
      width: 354px;
    }
  }

  &__title {
    margin: 0;
    padding: 0;
    font-size: 25px;
    font-weight: bold;
    line-height: 30px;
    text-transform: uppercase;

    @include for-size(tablet) {
      font-size: 30px;
      line-height: 57px;
    }
  }

  &__description {
    font-size: 15px;
    font-weight: normal;
    line-height: 30px;

    @include for-size(tablet) {
      font-size: 17px;
      margin: 14px 14px 17px;
    }
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    margin: -3.5px;
  }

  &__button {
    margin-top: 30px;
    color: $button-modal-text-color;
    border: 2px solid $button-modal-border;
    background: $button-modal-border;

    &:hover {
      border-color: $button-modal-border-hover;
    }
  }
}

.modal-radio {
  flex-grow: 1;
  flex-shrink: 0;
  width: calc(33.3% - 7px);
  max-width: calc(33.3% - 7px);
  margin: 3.5px;
  font-size: 17px;
  font-weight: bold;
  line-height: 16px;
  box-sizing: border-box;

  &__controls {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:checked {
      $radioChecked: & !global;
    }
  }

  &__text {
    display: block;
    padding: 18px;
    border: 2px solid $modal-border-modal-radio;
    cursor: pointer;

    &:hover {
      border-color: $modal-border-modal-radio-hover;
    }

    #{$radioChecked} + & {
      border-color: $button-modal-border;
    }
  }
}
