$navigation-link-color: #000000;
$navigation-link-border: #ececec;

.navigation__link {
  display: none;
  margin: 0;
  padding: 28px 30px;
  color: $navigation-link-color;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  text-decoration: none;
  position: relative;
  border-top: 1px solid $navigation-link-border;
  border-bottom: 1px solid $navigation-link-border;
}
