$overview-border-color: #ececec;
$overview-title: #000000;
$overview-desc: #444444;

.overview {
  margin: 0 30px;
  padding: 0 30px;
  border: 1px solid $overview-border-color;

  &__title {
    color: $overview-title;
    font-size: 17px;
    font-weight: bold;
    line-height: 24px;
  }

  &__desc {
    color: $overview-desc;
    font-size: 13px;
    font-weight: normal;
    line-height: 24px;
  }
}
