$overview-border-color: #ececec;
$overview-title: #000000;
$overview-desc: #444444;

.overview {
  display: flex;
  flex-direction: column;
  margin: 30px;
  padding: 0 30px;
  border: 1px solid $overview-border-color;

  @include for-size (tablet) {
    padding: 0 40px;
  }

  @include for-size (desktop) {
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-rows: min-content min-content min-content;
    justify-content: center;
    padding: 0;
    margin: 57px auto 105px auto;
    width: $general-width;
  }

  &__video {
    @include for-size (desktop) {
      grid-column: 1;
      grid-row: 1 / -1;
    }
  }

  &__title {
    color: $overview-title;
    font-size: 17px;
    font-weight: bold;
    line-height: 24px;

    @include for-size (desktop) {
      padding: 27px 110px 27px 80px;
    }
  }

  &__desc {
    margin: 33px 0;
    padding: 0;
    color: $overview-desc;
    font-size: 13px;
    font-weight: normal;
    line-height: 24px;

    @include for-size (tablet) {
      margin: 25px 0 42px 0;
    }

    @include for-size (desktop) {
      padding: 0 36px 51px 80px;
      font-size: 15px;
      line-height: 30px;
    }
  }

  &__button {
    margin: 33px 0;
    text-align: center;

    @include for-size(desktop) {
      margin: 0 36px 57px 80px;
      width: 230px;
    }
  }
}
