$overview-border-color: #ececec;
$overview-title: #000000;
$overview-desc: #444444;

.overview {
  display: flex;
  flex-direction: column;
  margin: 30px;
  padding: 0 30px;
  border: 1px solid $overview-border-color;

  @include for-size (tablet) {
    padding: 0 40px;
  }

  &__title {
    color: $overview-title;
    font-size: 17px;
    font-weight: bold;
    line-height: 24px;
  }

  &__desc {
    margin: 33px 0;
    padding: 0;
    color: $overview-desc;
    font-size: 13px;
    font-weight: normal;
    line-height: 24px;

    @include for-size (tablet) {
      margin: 25px 0 42px 0;
    }
  }

  &__button {
    margin: 33px 0;
    text-align: center;
  }
}
